.Chat-main
  .Chat-main__group-info
    .group-info
      .main__group-name
        test
      .main__member
        .main__member-name
          Member:
        .main__member-name
          YOKO
    .Group-btn
    = link_to "#" do
      .Edit-btn
        Edit

  .Chat-maim__message-list
    .main__message-user-neme
  .Chan-main__message-form