.Chat-main__message-info{data: {message: {id: message.id}}}
  .Chat-main__message-list
    .main__message-user-name
      = message.user.name
    .main__info-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Main__massage
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?