.Side
  .Side-Bar
    .top-items
      %b
        yoko
      %ul
        <i class= "far fa-edit icon-edit"></i>
        <i class="fas fa-cog icon-cog"></i>
  .Group-List
    %a
      .Group-name
        group-name
      .Group-message
        hello
    %a
      .Group-name
        group-name
      .Group-message
        hi