* {
  box-sizing: border-box;
  text-decoration: none;
}
$white:#ffffff;

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Side-Bar{
  background-color: #253141;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .top-items{
    color: $white;
    background-color: #253141;
    height: 20px;
    width: 260px;
    justify-content: space-between;
    font-size: 16px;
    display: flex;
    .icon-edit{
      color: $white;
    }
    .icon-cog{
      color: $white;
    }
  }
}
.Group-List{
  background-color: #2f3e51;
  width: 300px;
  height: calc(100vh - 100px);
  border: solid #2f3e51;
  .Group__name{
    font-size: 15px;
    color: $white;
    margin: 20px;
  }
  .Group__message{
    font-size: 11px;
    color: $white;
    margin: 5px 20px;
  }
}

.Chat-main{
  display: block;
  &__group-info{
    background-color: $white;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: calc(100vw - 300px);
    .main__group-name{
      color: #333333;
      font-size: 20px;
      padding: 35px 0 15px 40px;
    }
    .main__member{
      display: flex;
      justify-content: flex-start;
      color: #999999;
      font-size: 12px;
      padding-top: 15px;
    }
    .Group__edit-btn{
      display: inline-block;
      border:  1px solid #38aef0;
      height: 40px;
      width: 72px;
      padding: 7px 20px;
      margin-right: 40px;
      text-decoration: none;
      .edit-btn__info{
        color: #38aef0;
      }
    }
  }
.Chat-main__message{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding-left: 40px;
  overflow:scroll;
}
  &__message-list{
    display: flex;
    .main__message-user-name{
      margin: 35px 10px 12px 0;
      font-size: 16px;
      color: #333333;
      font-weight: bold;
    }
    .main__info-date{
      font-size: 12px;
      color: #999999;
      margin: 35px 0 12px 0;
    }
  }
}
.Main__message{
  font-size: 14px;
  color: #434A54;
}
.Chat-main__message-form{
  display: flex;
  background-color: #d2d2d2;
  height: 90px;
  width: calc(100vw - 300px);
  padding-right: 40px;
  .Message__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 20px 15px 20px 40px;
    
    .Message__box__content{
      width: 100%;
      display: flex;
      height: 50px;
      .Message__text{
        width:100%;
       height:100%;
       background-color: $white;
       border-style: none;
       padding-left: 15px;
      }
      .box__image{
        line-height: 50px;
        font-size: 25px;
        margin-right: 10px;
        background-color: $white;
        padding-right: 10px;
      }
      .Hidden{
        display:none;
      }
    }
    .Message__submit{
      height: 50px;
      width: 100px;
      background-color: #38aef0;
      border: none;
      margin-left: 15px;
      font-size: 16px;
      color: $white;
    }
  }
}   
