* {
  box-sizing: border-box;
}



.Side-Bar{
  background-color: #253141;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .top-items{
    color: #ffffff;
    background-color: #253141;
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    .icon-edit{
      color: #ffffff;
      margin: 0 5px 0 0;
    }
    .icon-cog{
      color: #ffffff;
    }
  }
}
.Group-List{
  background-color: #2f3e51;
  width: 300px;
  height: 600px;
  border: solid #2f3e51;
  .Group-name{
    font-size: 15px;
    color: #ffffff;
    margin: 20px;
  }
  .Group-message{
    font-size: 11px;
    color: #ffffff;
    margin: 5px 20px;
  }
}

